:root {
  --bg-background: #ffed8b;
  --bg-primary: #fce154;
  --green-fill: #2c9369;
  --font-brown: #745643;
  --carrot-orange: #ec8844;
  --body-bg: #ffedd7;

  /*font-family*/
  --font-family-main: "Inter", sans-serif;
  --font-family-header: "Freckle Face", sans-serif;
}

body {
  background-color: var(--body-bg);
  font-family: "inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.main-container {
  width: clamp(350px, 80%, 400px);
  min-width: 250px;
  
  min-height: 600px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  background-color: var(--bg-background);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
}
/* .bg {
  width: 400px;
  min-width: 250px;
  height: 100%;
  background-color: var(--bg-primary);
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
} */
.login-wrapper {
  width: 19rem;
  height: 21rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 29%;
}
form {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 1px;
  margin-top: 2rem;
}
form input {
  height: 40px;
  border: none;
  background-color: var(--body-bg);
  border-radius: 8px;
  margin-bottom: 10px;
  color: var(--font-brown);
  font-family: var(--font-family-main);
  font-size: 1rem;
  font-weight: 400;
  padding: 0 15px;
}
form input::placeholder {
  color: var(--font-brown);
}
form input:focus {
  outline: none;
}
form label {
  color: var(--font-brown);
  font-family: var(--font-family-main);
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 5px;
}
.monster-container {
  z-index: 1000;
}
.login-wrapper h1 {
  font-family: var(--font-family-header);
  font-size: 3.5rem;
  color: var(--font-brown);
  letter-spacing: 2px;
  margin: 2rem 0 0 0;
}
.login-wrapper h4 {
  font-family: var(--font-family-header);
  font-size: 1.5rem;
  color: var(--font-brown);
  margin: 0px;
}
.btn {
  width: 200px;
  position: absolute;
  bottom: 2.8rem;
  padding: 15px 2px;
  border-radius: 10px;
  outline: none;
  border: none;
  background-color: var(--carrot-orange);
  color: var(--body-bg);
  font-family: var(--font-family-main);
  font-size: 1.1rem;
  font-weight: 600;
  transition: 0.5s ease;
}
.main-container a {
  display: flex;
  justify-content: center;
}
.main-container .btn:hover {
  background-color: #745643;
}

@media (max-width: 400px){
  .main-container {
    min-height: 750px;
  }
  
}
  

